<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문하기</title>
</head>
<body>
    <input type="button" name="gohome" value="홈으로" onclick="window.location.href='/'">
    <style>
        h3{
            text-align: center;
        }
    </style>
    <h3 class="title">메뉴 주문</h3>
    <table class="order_table">
    <li>
        <img src="" alt="">
        <input type="button" value="식사류" onclick="window.location.href='/meals'">
    </li>
    <li>
        <input type="button" value="찌개류" onclick="">
    </li>
    <li>
        <input type="button" value="음료수">
    </li>
    </table>
</body>
</html>