<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 목록</title>
    <script>

    </script>
</head>
<body>
    <div class="white-box margin-50">
        <div class="form_white">
          <form>
            <div class="w-100">
              <h1>메뉴 담기</h1>
              <div>
                <h3>제목</h3>
                <input id="tbTitle" class="form_input" type="text" placeholder="제목 입력(4-100)" />
              </div>
            </div>
            <div class="w-100">
              <h3>내용</h3>
              <textarea id="tbContents" class="form_input"></textarea>
            </div>
    
            <div class="w-100 margin-t30">
    
            </div>
            <div style="clear: both"></div>
          </form>
          <button class="btn_order" onclick="">주문하기</button>
          <button class="btn_back" onclick="window.location.href='/mainorder'">이전으로</button>
          <!-- <button class="btn_api" onclick="call_write_api()">API</button>
          <button class="btn_save" onclick="insert()">등록</button> -->
        </div>
      </div>
</body>
</html>