<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 목록</title>
    <script>
        function select_menu(){
          alert('메뉴를 선택하시겠습니까?')
        }
    </script>
</head>
<body>
    <div class="white-box margin-50">
        <div class="form_white">
          <form>
            <div class="w-100">
              <h1>메뉴 담기</h1>
              <div>
                <h3>메뉴들</h3>

                <div id="radiobtn">
                  <input type="radio" id="option1" name="kalramen">
                  <label for="option1">칼국수</label></br>
                  <input type="radio" id="option1" name="kalramen">
                  <label for="option1">김치찌개</label>
                </div>
                <div id="checkbtn">
                  <img src="../imgsrc/kalramen.jpg" id="kalramen" alt="kalramen" width="300" height="300">  
                  <input type="checkbox" name="kalramen">칼국수<br/>
                </div>
              </div>
            </div>
            <div class="w-100">
              <h3>내용</h3>
              <textarea id="tbContents" class="form_input"></textarea>
            </div>
    
            <div class="w-100 margin-t30">
    
            </div>
            <div style="clear: both"></div>
          </form>
          <button class="btn_order" onclick="select_menu()">장바구니 담기</button>
          <button class="btn_back" onclick="window.location.href='/meals'">이전으로</button>
          <!-- <button class="btn_api" onclick="call_write_api()">API</button>
          <button class="btn_save" onclick="insert()">등록</button> -->
        </div>
      </div>
</body>
</html>